/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header,  menu, nav, section {
    display: block;
}

body {
    background: #48627c;
}

.wrapper {
    width: 930px;
    margin: 0 auto;
}

.header  {
    background: white;
    height: 60px;
    width: 100%;
}

/*ліва частина менюшки*/

.header > .left{
    float: left;
}
.header .left li{
    display: inline-block;
    margin: 21px 15px 21px;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}
.left > li:first-child >a{
    float: left;
    line-height: 0;
}
.header > .left > li:first-child {
    float: left;
    background: #56ccc8;
    width: 60px;
    height: 60px;
    margin: 0;

}
.header > .left > li:first-child >img {
    padding: 21px 19px 20px 18px;
}
.header > .left > li:first-child:hover{
    background: #475055;
    cursor: pointer;
}

.header > .left > li:first-child+li{
    margin: 21px 15px 20px 50px;
}

.header > ul > li >a {
    text-decoration: none;
    color: #475055;
}

.header > ul > li >a:hover {
    color: #56ccc8;
}



/*права частина менюшки*/

.right{
    height: 60px;
    float: right;
}
.right  li{
    padding: 18px 7px 19px;
    display: inline-block;
}
.right li:first-child{
    border-right: 1px solid #dde2e4;
    padding: 18px 25px 19px;
}
.right li:last-child{
    border-left: 1px solid #dde2e4;
    padding: 18px 25px 19px;
}


/*випадаюче меню*/
.menu{
    height: 670px;
    width: 100%;
    margin: 14px 0 0 0;
    float: left;
    display: none;
    /*для зручності, потім відкомментити !!!!!*/
}

.menu>ul:first-child>li{
    list-style: none;
    padding: 15px 81px 17px 15px;
    /*height: 60px;*/
    border-bottom: 1px #e3e3e3 solid;
}
.menu>ul:first-child>li>a>img{
    margin: 0 20px 0 0;
}
.menu>ul:first-child>li>a{
    font-family: 'Roboto', sans-serif;
    color: #475055;
}
.menu>ul:first-child{
    background: white;
    width: 225px;
    float: left;
}
.menu ul li a{
    text-decoration: none;
}

.menu>ul:first-child>li:first-child+li+li+li+li+li+li+li
{
    background: #c5cdd1;
    border: none;
    height: 260px;
    padding: 0 0 0 1px;
}
 .menu >ul {
     display: inline-block;
 }

 .menu>ul:first-child>li:hover{
     background: #56ccc8;
 }
/*підменю*/

.submenu {
    position: absolute;
    top: 116px;
    margin: -42px 0 0 210px;
    width: 240px;
    height: 670px;
    list-style: inside none;
    background: #152840;
    display: none;
    /* для зручності, потім відкомментити !!!!!  */

}

.submenu>li>a{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    padding: 6px 0;
    display: block;

}
.submenu li {
    border-bottom: 1px solid #48637d;
    padding: 15px 20px;
}
.submenu li:last-child {
    /*border-bottom: none!important;*/
}

.submenu li a img{
    float: right;
    margin: -5px -5px
}

.submenu li a:first-child{
    color: #56ccc8;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /*margin: 15px 10px;*/

}
.submenu li a:hover{
    color: #56ccc8;
}

.submenu li:hover{
    background: #263a54;
}

/*блок підписок і логінення*/

.followus{
    float: right;
    width: 450px;
    height: 670px;
    display: inline-block;
}
.followus ul:first-child {
    width: 217px;
    height: 315px;
    background: white;
    float: left;
}
.followus ul:first-child li{
    display: block;

}
.followus ul:first-child li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #94989a;
    float: left;
    margin: 30px 0 0 0;

}
.followus ul:first-child li a:hover{
    color: #4fc6f8;
}
.followus ul:first-child li a img{
    float: left;
    margin: -6px 20px 0 30px;
}

/*----------------------*/
.followus ul:first-child+ul {
    height: 150px;
    width: 220px;
    background: #4d6baa;
    float: left;
    margin: 0 0 15px 13px;
}

.followus ul:first-child+ul+ul {
    height: 150px;
    width: 220px;
    background: #4fc6f8;
    float: left;
    margin: 0 0 0 13px;
}

.followus ul:first-child+ul li {
    display: block;
    padding: 20px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.followus ul:first-child+ul+ul li {
    display: block;
    padding: 20px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: white;
}
.followus ul:first-child+ul li a{
    margin: 0 0 0 45px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
    color: white;
}
.followus ul:first-child+ul+ul li a{
    margin: 0 0 0 34px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
    color: white;
}
.followus ul:first-child+ul li a img{
    margin: -5px -5px -6px 0;
    float:right;
}
.followus ul:first-child+ul+ul li a img{
    margin: -5px -5px -6px 0;
    float:right;
}


/*--------------------------*/

.followus ul:first-child+ul+ul+ul {
    background: white;
    height: 165px;
    width: 450px;
    float:left;
    margin: 13px 0 0 0;
}
.followus ul:first-child+ul+ul+ul li{
    display: block;
    float:left;

}

.followus ul:first-child+ul+ul+ul li:first-child{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 18pt;
    color: #475055;
    margin: 15px 0 0 190px;
    float: left;
}

.followus ul:first-child+ul+ul+ul li:first-child+li{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 12pt;
    color: #475055;
    margin: 10px 0 0 33px;
    float: left;
}

.followus ul:first-child+ul+ul+ul li:first-child+li+li{
    float:left;
    margin: 20px 0 0 100px;
}
.followus ul:first-child+ul+ul+ul li:first-child+li+li a img{
    margin: 10px 0 0 20px;
}
/*--------------------------------------------*/

.followus ul:last-child{
    background: white;
    height: 165px;
    width: 450px;
    float:left;
    margin: 12px 0 0 0;
}


.followus ul:last-child li{
    display: block;
    float: left;
}

.followus ul:last-child li:first-child{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 18pt;
    color: #475055;
    margin: 22px 0 0 130px;
    float: left;
}
.followus ul:last-child li:first-child+li{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 10pt;
    color: #475055;
    margin: 15px 0 0 105px;
    float: left;
}
/*----------------------------*/

.followus .input-box{
    float: left;
}


.followus .input-box input:first-child{
    margin: 30px 15px 0 25px;
    padding: 0 10px;
    height: 27px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 18pt;
    color: #a3abaf;
    float: left;

}

.followus .input-box input:first-child+input{
    height: 30px;
    width: 65px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 11pt;
    color: white;
    background: #ea6060;
    border: none;
    border-radius: 5px;
    margin: 30px 0 0 0;
    float: left;

}




/*Slider*/

#slider {
    width:926px;
    height:453px;

    /*IE bugfix*/
    padding:0;
    margin:0;
}
#page {
    width:926px;
    margin: 15px 2px;
    float: left;
    /*display: none;*/
    /* для зручності, потім відкомментити !!!!!  */
}
#page li {
    list-style:none;
}
.rhino-bullets{
    background: none!important;
}
.rhino-bullets::before, .rhino-bullets::after {
    background: none!important;
}
.rhino-bullets li a.rhino-bullet {
    background: url("../img/slider/circle.png")no-repeat!important;
    font-size: 0!important;
}
.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
    background: url("../img/slider/circle-active.png") no-repeat!important;
}
.rhino-prev, .rhino-next {
    top: 200px;
}
.rhino-next {
    background: url("../img/slider/right-arrow.png")no-repeat!important;
    right: -22px!important;
}
.rhino-prev{
    background: url("../img/slider/left-arrow.png")no-repeat!important;
    left: 0!important;
}


/*middle block*/
.middle {
    float:left;
    display: block;
    width: 930px;
}
.middle>div:first-child{
    width: 314px;
    height: 300px;
    float:left;
    background: #ffffff;
}
.middle>div:first-child>p{
    display: block;
    float: left;
}
.middle>div:first-child>p:first-child {
    height: 40px;
    width: 40px;
    background: #ea6060;
    margin: 36px 0 0 0;
    float: left;
}
.middle>div:first-child>p:first-child img{
    /*21x15*/
    float: left;
    margin: 13px 10px 12px 9px;
}


.middle div:first-child>p:first-child+p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    color: #475055;
    margin: 40px 0 0 25px;
}

.middle>div:first-child>p:first-child+p+p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #475055;
    margin: 15px 0 0 65px;
}
.middle>div:first-child>p:first-child+p+p+p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: #475055;
    margin: 15px 20px 20px 65px;
    height: 135px;
}

/*video*/
.video {
    height: 300px;
    width: 616px;
    background: #787878;
    float:left;
}
.videoo{
    display: none;
}
.videoo div{
    height: 300px;
    width: 110px;
    background: #1f3045;
    float:left;
}
.videoo div a:first-child img{
    display:block;
    /*34x30*/
    margin: 0 -2px;
}
.videoo div a:first-child+a img{
    display:block;
    /*34x30*/
    margin: 0 3px;
}
.videoo div a:first-child+a+a img{
    display:block;
    /*34x30*/
    margin: 0 6px;
}
.videoo div a{
    float: left;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: #ffffff;
}
.videoo div a:hover {
    color: #ea6060;
}
.videoo div a:first-child{
    margin: 35px 0 0 40px;
}
.videoo div a:first-child+a{
    margin: 35px 0 0 35px;
}
.videoo div a:first-child+a+a{
    margin: 35px 0 0 32px;
}

.videoo>a{
    float: left;
    margin: 116px 221px;
}


/*--------------------------*/

.middle>div:first-child+div+div {
    background: #1f3045;
    float:left;
    height: 300px;
    width: 300px;
    margin: 14px 14px 0 0;
}
.middle>div:first-child+div+div a:first-child{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: #ffffff;
    float:left;
    margin: 170px 0 0 80px;
}
.middle>div:first-child+div+div a:first-child img{
    margin: -40px 0 0 8px;
    float: left;
}
.middle>div:first-child+div+div a:first-child+a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: #ffffff;
    float:left;
    margin: 170px 0 0 20px;
}
.middle>div:first-child+div+div a:first-child+a img{
    margin: -40px 0 0 -2px;
    float: left;
}

/*-------------------------*/
.middle>div:last-child div{
    width: 316px;
    height: 300px;
    float:left;
    background: #ffffff;
    margin: 14px 0 0 0;
}
.middle>div:last-child div>p{
    display: block;
    float: left;
}
.middle>div:last-child div>p:first-child {
    height: 40px;
    width: 40px;
    background: #4fc6f8;
    margin: 36px 0 0 0;
    float: left;
}
.middle>div:last-child div>p:first-child img{
    /*21x15*/
    float: left;
    margin: 13px 10px 12px 9px;
}


.middle div:last-child div>p:first-child+p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    color: #475055;
    margin: 40px 0 0 25px;
}

.middle>div:last-child div>p:first-child+p+p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #475055;
    margin: 15px 0 0 65px;
}
.middle>div:last-child div>p:first-child+p+p+p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: #475055;
    margin: 15px 20px 20px 65px;
    height: 106px;
    width: 231px;
}
.middle>div:last-child>img{
    float:right;
    margin: 14px 0 0 0;
}


/*bottom block*/
.bottom{
    float:left;
    width: 930px;
    margin: 14px 0 0 0;
    height: 1380px;
}
.bottom >div{
    display: inline-block;
}
/*alexwhite*/
.bottom>div:first-child {
    height: 439px;
    width: 300px;
    background: #4fc6f8;
    float: left;
}
.bottom>div:first-child>div:first-child{
    height: 85px;
    border-bottom: 1px solid #7bd4fa;
    width: 300px;
    /*padding: 15px 15px;*/
}
.bottom>div:first-child>div:first-child>p{
    display: inline-block;
}
.bottom>div:first-child>div:first-child>p:first-child{
    margin: 35px 10px 0 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    color: #ffffff;
}
.bottom>div:first-child>div:first-child>p:first-child+p{
    margin: 0 0 0 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: #ffffff;
}
.bottom>div:first-child>div:first-child img{
    float:right;
    margin: 32px 22px;
}

/*-------------------*/


.bottom>div:first-child>div:first-child+div {
    height: 175px;
    border-bottom: 1px solid #7bd4fa;
    width: 300px;
}
.bottom>div:first-child>div:first-child+div>p{
    display: inline-block;
}
.bottom>div:first-child>div:first-child+div>p:first-child{
    margin: 25px 10px 0 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    color: #ffffff;
}
.bottom>div:first-child>div:first-child+div>p:first-child span{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: #ffffff;
}
.bottom>div:first-child>div:first-child+div>p:first-child+p{
    margin: 25px 10px 0 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: #ffffff;
}
/*--------------------------*/

.bottom>div:first-child>div:first-child+div +div {
    height: 175px;
    border-bottom: 1px solid #7bd4fa;
    width: 300px;
}
.bottom>div:first-child>div:first-child+div+div>p{
    display: inline-block;
}
.bottom>div:first-child>div:first-child+div+div>p:first-child{
    margin: 25px 10px 0 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    color: #ffffff;
}
.bottom>div:first-child>div:first-child+div+div>p:first-child span{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: #ffffff;
}
.bottom>div:first-child>div:first-child+div+div>p:first-child+p{
    margin: 25px 10px 0 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: #ffffff;
}




/*calendar*/
.ui-datepicker-inline{
    margin: 0 0 0 14px;
    width: 300px;
}

.bottom>div:first-child+div+div{
    height: 256px;
    background: #ea6060;
    width: 265px;
    float:right;
    margin: 0 0 0 14px;
}
.bottom>div:first-child+div+div p{
    margin: 50px 10px 0 50px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22pt;
    color: #ffffff;
}
.bottom>div:first-child+div+div img{
    float:left;
    margin: 25px 50px;
}

/*slider2*/
#slider2 {
    width:926px;
    height:535px;

    /*IE bugfix*/
    padding:0;
    margin:0;
}
#page2 {
    width:300px;
    margin: 14px 0px;
    float: left;
    /*display: none;*/
    /* для зручності, потім відкомментити !!!!!  */
}
#page2 div{
    width: 300px!important;
}
#page2 .rhino-bullets{
    top: 29px;
    left: 280px;
}
#page2 li {
    list-style:none;
}
#page2 .rhino-bullets{
    background: none!important;
}
#page2 .rhino-bullets::before, .rhino-bullets::after {
    background: none!important;
}
#page2 .rhino-bullets li a.rhino-bullet {
    background: url("../img/slider/circle2.png")no-repeat!important;
    font-size: 0!important;
}
#page2 .rhino-bullets li a.rhino-bullet.rhino-active-bullet {
    background: url("../img/slider/circle2-active.png") no-repeat!important;
}
#page2 .rhino-prev, .rhino-next {
    top: 200px;
}

.bottom>div:first-child>div:last-child{
    background: #ffffff;
    width: 300px;
    height: 380px;
    float:left;
}
.bottom>div:first-child>div:last-child p{
    color: #475055;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22pt;
    margin: 25px 0 0 30px;
}
.bottom>div:first-child>div:last-child input{
    margin: 20px 0 0 30px;
    line-height: 30px;
    border: 1px solid #dde2e4;
    color: #b1b8bb;
    padding: 0 0 0 10px;
    width: 228px;
}
.bottom>div:first-child>div:last-child textarea{
    margin: 20px 0 0 30px;
    border: 1px solid #dde2e4;
    color: #b1b8bb;
    padding: 5px 0 0 10px;
    height: 105px;
    width: 228px;
    resize: none;
}
.bottom>div:first-child>div:last-child input:last-child{
    background: none repeat scroll 0 0 #ea6060;
    border: medium none;
    border-radius: 5px;
    color: white;
    float: left;
    font-family: "Roboto",sans-serif;
    font-size: 11pt;
    font-weight: 500;
    height: 30px;
    margin: 30px 0 0 30px;
    padding: 0;
    text-decoration: none;
    width: 90px;
}

.bottom>div:first-child+div+div+div>img{
    float:left;
    /*background: ;*/
    height: 300px;
    width: 614px;
    /*margin: 14px 0 0 14px;*/
}
.bottom>div:first-child+div+div+div {
    float: right;
    /*background: ;*/
    height: 300px;
    width: 614px;
    margin: 14px 0 0 14px;
    background: url("../img/new.png") no-repeat,
    url("../img/52069933.jpg") no-repeat;
}
/*----------------------------------------*/
.botart{
    float: left;
    background: #ffffff;
    height: 300px;
    width: 614px;
    display: block;
}
.botart>p {
    display: block;
    float: left;
}
.botart>p:first-child {
    height: 40px;
    width: 40px;
    background: #4fc6f8;
    margin: 36px 0 0 0;
    float: left;
}
.botart>p:first-child img{
    /*21x15*/
    float: left;
    margin: 11px 13px;
}


.botart>p:first-child>span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    color: #475055;
    width: 400px;
    margin: -34px 0 0 60px;
    float: left;
}

.botart>p:first-child+p+p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #475055;
    margin: 30px 0 0 125px;
    float: left;
}
.botart>p:first-child+p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: #475055;
    margin: 100px 0 0 25px;
    height: 132px;
    width: 475px;
    float: left;
}
.botart>img{
    float:right;
    margin: 14px 0 0 0;
}
.botart >p >span{
    margin: 0 25px 0 0;
}
.botart >p >span>img{
    margin: 0 10px 0 0;
}
.quote{
    float: left;
    background: #ffffff;
    height: 150px;
    width: 614px;
    display: block;
    margin: 14px 0;
}
.quote>p {
    display: inline-block;
    float: left;
}
.quote>p:first-child {
    height: 40px;
    width: 40px;
    background: #4fc6f8;
    margin: 36px 0 0 0;
    float: left;
}
.quote>p:first-child img {
    /*21x15*/
    float: left;
    margin: 11px 11px 12px 11px;
}
.quote >p >span{
    float:left;
    margin: -30px 0 0 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20pt;
    width: 475px;
    color: #797e81;
}

/*--------------- tabs*/
#tabs{
    border: none!important;
    margin: 0!important;
    padding: 0!important;
    float: left;
    height: 333px !important;
    width: 615px !important;
    border-radius: 0!important;
}
#tabs  .ui-widget-header{
    height: 45px!important;
    padding: 0!important ;
    width: 615px!important;
    margin: 0!important;
    border: none!important;
}
#tabs .ui-widget-content{
    height: 205px !important;
    width: 575px !important;
}
#tabs  .ui-state-default, #tabs .ui-widget-content .ui-state-default, #tabs .ui-widget-header .ui-state-default{
    background: #c5cdd1!important;
    border-radius: 0!important;
    border: none!important;
    margin: 0!important;
    padding: 0!important;
    height: 45px!important;
    width: 20%;
}
#tabs .ui-state-active, #tabs .ui-widget-content .ui-state-active, #tabs .ui-widget-header .ui-state-active{
    background: #ffffff!important;
    border-radius: 0!important;
    border: none!important;
}
#tabs .ui-state-hover, #tabs .ui-widget-content .ui-state-hover, #tabs .ui-widget-header .ui-state-hover, #tabs .ui-state-focus, #tabs .ui-widget-content .ui-state-focus, #tabs .ui-widget-header .ui-state-focus{
    background: #ffffff!important;
    border-radius: 0!important;
    border: none!important;
}
#tabs .ui-state-default a{
    color: #ffffff!important;
}
#tabs .ui-state-active a, #tabs .ui-state-active a:link, #tabs .ui-state-active a:visited{
    color: #000000!important;
    line-height: 27px !important;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 0.5em 28px!important;
    text-decoration: none;
}
#tabs .ui-widget-content {
    background: #ffffff!important;
    color: #475055;
    padding: 20px !important;
}
.bottom {
    float: left;
    margin-bottom: 100px;
    width: 100%;
}
#tabs li{
    border-left: 1px solid #49647e!important;
    border-right: 1px solid #49647e!important;
}
#tabs .ui-state-hover a, #tabs .ui-state-hover a:hover, #tabs .ui-state-hover a:link, #tabs .ui-state-hover a:visited, #tabs .ui-state-focus a, #tabs .ui-state-focus a:hover, #tabs .ui-state-focus a:link, #tabs .ui-state-focus a:visited{
    color: #000000!important;
}
#tabs-2 div{
    float: left;
    width: 45%;
}
#tabs-2 div p{
    float: left;
    font-size: 15px;
    padding: 10px;
}
#tabs-2 div span{
    color: #4fc6f8;
    float: left;
}






/*readmore style*/
.readmore {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #ea6060;
}